# Used instead of .gitignore for the EAS upload tarball.
node_modules
.expo
dist
web-build
expo-env.d.ts
.kotlin
ios
android
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-play-service-account.json
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env
.env*.local
*.tsbuildinfo
.git
