VITE_API_URL=https://api.casahomesrwanda.com
VITE_WHATSAPP_PHONE=250735496786
VITE_CONTACT_EMAIL=hello@casahomesrwanda.com
VITE_SUPPORT_EMAIL=support@casahomesrwanda.com
VITE_IOS_APP_URL=https://apps.apple.com/search?term=Casa%20Rwanda
VITE_ANDROID_APP_URL=https://play.google.com/store/apps/details?id=com.casahomesrwanda.app
